[
{{#tickers}}
    {
        "id": "{{ id }}",
        "name": "{{ name }}",
        "symbol": "{{ symbol }}",
        "rank": "{{ rank }}",
        "price_usd": "{{ price_usd }}",
        "price_btc": "{{ price_btc }}",
        "24h_volume_usd": "72855700.0",
        "market_cap_usd": "9080883500.0",
        "available_supply": "15844176.0",
        "total_supply": "15844176.0",
        "percent_change_1h": "0.04",
        "percent_change_24h": "-0.3",
        "percent_change_7d": "-0.57",
        "last_updated": "1472762067"
    }
    {{^ @last }}, {{/}}
{{/tickers}}
]
